@import "@/styles/mixins";

.container {
  @include flex-center;
  flex-direction: column;
}

.wrapper {
  background-color: var(--card-color);

  min-height: 400px;
  padding: 1rem 1.25rem 0.5rem;

  @include border-radius(16px);
  @include flex-center;
  flex-direction: column;

  max-width: 500px;
  
  width: 60vw;
  height: 30vh;

  & > p {
    color: var(--muted-color);
  }
}

.row {
  width: 100%;

  @include flex-between-row;

  & > button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    color: var(--button-color);
    background-color: var(--primary-color);

    &:hover {
      color: var(--primary-color);
      background-color: var(--button-color);
    }
  }
}

.cardrow {
  width: 100%;

  @include flex-between-row;

  & > p > span {
    @include border-radius(8px);
    background-color: var(--muted-color);
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.cardwrapper {
  justify-content: flex-start;
  overflow-y: scroll;
}

.amount {
  margin: 0;
  color: var(--muted-color);
}

.poolcard {
  cursor: pointer;

  padding: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
  @include border-radius(16px);
  background-color: var(--background-color);
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--primary-color);
  }
}
