@import "@/styles/mixins";

.container {
  background-color: var(--card-color);
  padding: 1rem 1.25rem 0.5rem;

  @include border-radius(16px);

  max-width: 500px;

  @include flex-center-vert;
  flex-direction: column;

  & > button {
    width: 100%;
    padding: 25px;
  
    font-size: 16px;
    text-transform: uppercase;
  
    margin-block-end: 0.6em;
    margin-block-start: 0.6em;
  
    &:hover {
      color: var(--button-color);
      background: var(--primary-color);
    }
  }
}

.row {
  @include flex-between-row;

  width: 100%;

  & > svg {
    cursor: pointer;
  }

  & > h3 {
    font-size: 18px;
    line-height: 1;
    font-family: "Bold";
  }
}

.column {
  @include flex-center-column;

  & > h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
  }
}
