@import "@/styles/mixins";

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include border-radius(16px);

  width: 300px;
  height: 330px;

  background-color: var(--card-color);

  margin: 16px;
  padding: 35px;

  border: 2px solid var(--card-color);
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 9%);
  transition: background 0.3s, border 0.5s, border-radius 0.5s, box-shadow 0.5s;

  & > h3 {
    font-size: 18px;
    font-family: "SemiBold";
    margin-top: 16px;
    margin-bottom: 8px;
  }

  & > b {
    font-size: 13px;
    font-family: "Regular";
    line-height: 1.5;
  }

  &:hover {
    border-color: var(--secondary-color);
  }

  @media (max-width: 1000px) {
    width: calc(100% - 16px);
    margin: 8px;
    height: auto;
    min-height: 200px;
    border-radius: 8px;
  }
}
