@import "@/styles/mixins";

.card {
  align-content: flex-start;
  align-items: flex-start;

  @include border-radius(16px);

  width: 300px;
  height: 330px;

  background-color: var(--card-color);

  margin: 5px;
  padding: 35px 35px 35px 35px;

  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: transparent;

  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 9%);
  transition: background 0.3s, border 0.5s, border-radius 0.5s, box-shadow 0.5s;

  & > h3 {
    font-size: 18px;
    font-family: "SemiBold";
  }

  & > b {
    font-size: 13px;
    font-family: "Regular";
  }

  &:hover {
    border-color: var(--secondary-color);
  }

  @media (max-width: 1000px) {
    width: auto;
  }
}
