@import "@/styles/mixins";

.navbar {
  @include flex-between-row;

  padding-left: 16px;
  padding-right: 16px;

  background-color: var(--card-color);
}

.logo {
  cursor: pointer;

  @include flex-center-vert;

  & > h3 {
    margin-left: 5px;
  }
}

.center {
  @include flex-between-row;

  & > h3 {
    cursor: pointer;
    padding: 5px;
  }
}

.buttons {
  @include flex-between-row;

  & > button {
    margin-right: 16px;
  }
}