@import "@/styles/mixins";

.container {
  margin: 16px;
  padding: 5px 30px;

  border: 1px solid var(--secondary-color);

  @include border-radius(16px);
}

.row {
  @include flex-center-vert;
  justify-content: flex-start;
}

.copy,
.second {
  @include flex-center-vert;

  cursor: pointer;
  width: fit-content;

  user-select: none;

  & > p {
    font-family: "Regular";
    color: var(--muted-color);
    font-size: 16px;
    margin: 0;
    text-indent: 5px;
  }

  &:hover {
    svg {
      stroke: var(--background-color);
    }
    div {
      color: var(--background-color);
    }
  }
}

.second {
  margin-left: 16px;
}