@import "@/styles/mixins";

.txlist {
  display: flex;
  flex-direction: column;

  min-height: 80px;
  height: fit-content;
  padding: 16px;
  background: var(--card-color);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  p {
    font-size: 16px;
    font-family: "Regular";
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.here {
  text-align: center;
  margin-top: 10px;
}

.clear {
  cursor: pointer;
  user-select: none;
  color: var(--primary-color);
}
