button {
  cursor: pointer;

  color: var(--primary-color);
  font-family: "Bold";
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: var(--button-color);
  user-select: none;
  text-align: center;

  border-radius: 14px;

  transition: background-color 250ms linear;

  &.connect {
    min-width: 120px;
    min-height: 47px;
    padding: 13px;
    margin: 14px;
    border-radius: 8px;
  
    :hover {
      color: var(--button-color);
      background: var(--primary-color);
    }
  }

  :disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
  }
}
