@import "../mixins";

.footer {
  background-color: var(--background-color);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 90px 0px;

  & > .wrapper {
    @include flex-between-row;

    flex-wrap: wrap;
  
    padding-left: 30px;
    padding-right: 30px;

    & > .legal {
      width: 180px;
    }

    & > .office {
      width: 180px;
    }

    & > .involved,
    & > .legal,
    & > .office {
      & > h3 {
        font-size: 18px;
      }

      & > p {
        cursor: pointer;
        font-size: 14px;
        font-family: "Light";
      }
    }

    & > .involved {
      @include flex-column;
      align-items: center;
  
      & > .involved-wrapper {
        @include flex-center-horiz;
        flex-wrap: wrap;
      
        a {
          margin: 10px;
        }
      }
    }
  }
}
