.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 55px;
  padding: 10px;

  background-color: var(--background-color);

  & > div.logo {
    cursor: pointer;

    display: flex;
    align-items: center;

    & > h3 {
      margin: 5px;
    }
  }

  & > .container-center {
    display: flex;

    & > div {
      cursor: pointer;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}