.token-card {
  cursor: pointer;

  padding-left: 10px;
  padding-right: 10px;

  padding-block-start: 5px;
  padding-block-end: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .wrapper {
    text-indent: 10px;

    & > p.f {
      margin: 0;
      font-weight: 500;
    }
    & > p.s {
      margin: 0;
      font-weight: 300;
      font-size: 12px;
    }
  }

  & > p {
    width: 100%;
    text-align: right;
  }

  :hover {
    background-color: rgb(44, 47, 54);
  }
}