@import "../mixins";

.tx-card {
  cursor: pointer;

  @include flex-between-row;

  padding-left: 16px;
  padding-right: 16px;
  margin-top: 5px;

  div.wrapper {
    cursor: pointer;

    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 0.825rem;
    color: var(--primary-color);
    text-decoration-thickness: 0.125em;
    text-underline-offset: 1.5px;
    text-decoration: none;

    & > p {
      font-size: 0.825rem;
    }
  
    :hover {
      text-decoration: underline;
      color: var(--success-color);
    }
  }
}
