@import "../mixins";

.zoom-card {
  cursor: pointer;

  @include flex-center-colum;

  text-align: center;

  width: 290px;
  height: 290px;

  margin: 16px;

  float: left;
  overflow: hidden;
  transition: all 0.4s;

  background-color: var(--card-color);
  // background-image: url(${(p: ContainerProp) => p.image});
  background-size: cover;
  background-position: 50%;

  :hover {
    background-size: 700px;
    background-position: 40%;
  }

  @media (max-width: 1000px) {
    width: 80vw;
  }
}