button {
  cursor: pointer;

  color: var(--primary-color);
  font-family: "Bold";
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: var(--button-color);
  user-select: none;
  text-align: center;

  border-radius: 14px;

  transition: background-color 250ms linear;

  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
  }
}
