@import "@/styles/mixins";

.container {
  overflow-y: scroll;
  height: 30vh;
  width: 100%;

  @media (max-width: 700px) {
    height: calc(100vh - 257px);
  }
}

.warnwrapper {
  padding: 10px;
  background-color: var(--border-color);
}

.pointer {
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }
}

.warn {
  font-size: 13px;
}

.include {
  padding: 10px;
  height: 60px;
  background-color: var(--border-color);
  
  @include border-bottom-radius(16px);
  @include flex-center;

  & > p {
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }
  }

  @media (max-width: 700px) {
    @include border-bottom-radius(0);
    height: 100%;
  }
}


.tokencard {
  cursor: pointer;

  padding-left: 16px;
  padding-right: 16px;

  padding-block-start: 5px;
  padding-block-end: 5px;

  @include flex-between-row;

  & > p {
    width: 100%;
    text-align: right;
  }

  &:hover {
    background-color: var(--button-color);
  }
}

.tokenwrapper {
  text-indent: 10px;
  width: 100%;

  & > p {
    margin: 0;
  }
}

.left {
  font-weight: 500;
}

.right {
  font-weight: 300;
  font-size: 12px;
}

.import {
  padding: 16px;

  @include flex-center-column;

  & > input {
    text-indent: 15px;
    width: 100%;
    padding: 8px;
    margin: 15px;
    border: 1px solid var(--button-color);

    @include border-radius(16px);
  }
}

.listwarp {
  @include flex-center-column;
}

.search {
  padding: 10px;
  text-indent: 5px;
  margin: 10px;
  width: 90%;
  border: 1px solid var(--muted-color);
  color: var(--muted-color);

  @include border-radius(10px);
}

.buttons {
  width: 100%;

  @include flex-between-row;

  & > button {
    width: 100%;
    height: 38px;
    margin: 8px;

    &:hover {
      background-color: var(--primary-color);
      color: var(--button-color);
    }
  }
}
