.container {
  position: fixed;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &:global(.show-dialog) {
    display: block;
    background: rgb(0 0 0 / 0.50);
  }
}

.modalmd {
  right: 0;
  left: 0;
  margin: 10% auto 50px;
  max-width: 635px;
  width: 95%;
  background: var(--modal-color);
  padding: 0;
  z-index: 100;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  // box-shadow: 0 0 10px #61006fbf;
}

.modalheader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    cursor: pointer;
    padding: 16px;

    &:hover {
      svg > path {
        stroke: var(--muted-color);
      }
    }
  }

  h3 {
    padding: 0 16px;
  }
}
