@font-face {
  font-family: "Bold";
  src: url('/fonts/Poppins-Bold.ttf') format("opentype");
}
@font-face {
  font-family: "SemiBold";
  src: url('/fonts/Poppins-SemiBold.ttf') format("opentype");
}
@font-face {
  font-family: "Medium";
  src: url('/fonts/Poppins-Medium.ttf') format("opentype");
}
@font-face {
  font-family: "Regular";
  src: url('/fonts/Poppins-Regular.ttf') format("opentype");
}
@font-face {
  font-family: "Light";
  src: url('/fonts/Poppins-Light.ttf') format("opentype");
}
