@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./theme";

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-shadow:0 0 1px var(--muted-color);
}
