@import "@/styles/mixins";

.container {
  padding: 16px;  
}

.head {
  @include flex-between-row;

  padding: 10px;

  & > span {
    display: flex;

    & > h3 {
      margin: 0;
      padding: 3px;
    }
  }
}

.info {
  background-color: var(--hover-color);
  padding: 10px;

  @include border-radius(16px);
  @include flex-column;
}

.infoitem {
  @include flex-between-row;

  margin: 5px;

  & > h3 {
    margin: 0;
  }
  & > span {
    display: flex;

    & > h3 {
      margin: 0;
      text-indent: 5px;
    }
  }
}

.fee {
  border-top: 1px solid var(--muted-color);

  & > p {
    color: var(--muted-color);
  }
}

.price {
  background-color: var(--hover-color);
  padding: 10px;

  margin-block-start: 16px;
  margin-block-end: 16px;

  @include border-radius(16px);
  @include flex-column;

  align-items: center;

  & > p,
  & > h3 {
    margin: 0;
  }

  & > p {
    color: var(--muted-color);
    font-size: 10px;
  }
}

.submit {
  width: 100%;
  padding: 25px;
  font-size: 16px;
  text-transform: uppercase;
  margin-block-end: 0.6em;
  margin-block-start: 0.6em;

  &:hover {
    color: var(--button-color);
    background: var(--primary-color);
  }
}
